# Auth0 
APP_BASE_URL=http://************
AUTH0_DOMAIN=dev-************.us.auth0.com
AUTH0_CLIENT_ID=************
AUTH0_CLIENT_SECRET=************
AUTH0_SECRET=********


# MongoDB
MONGODB_URI=mongodb+srv://admin:*********
MONGODB_DB=**************
