# Auth0 
APP_BASE_URL=http://************
AUTH0_DOMAIN=dev-************.us.auth0.com
AUTH0_CLIENT_ID=************
AUTH0_CLIENT_SECRET=************

# 64 character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production,
# generate your own secret using `openssl rand -hex 32`

AUTH0_SECRET=********